*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*https://img.freepik.com/vector-gratis/fondo-blanco-minimalista-circulo-neumorfico_1017-39167.jpg?size=626&ext=jpg&uid=R42721907&ga=GA1.2.1757869213.1670708878&semt=sph*/
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-image: url("https://w0.peakpx.com/wallpaper/51/956/HD-wallpaper-black-background-beograd-dark-elegance-wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#idPrincipal{
  margin-top: 1%;

}


input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
  border: solid 1px #E2E8E8;

}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.botonesMovimiento .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://media.ambito.com/p/9931e61e4c10efefb38a4e6e6416856f/adjuntos/239/imagenes/039/530/0039530957/730x0/smart/casino-mar-del-platajpg.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.botonesMovimiento .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.botonesMovimiento .img__text.textoRegistro {
  transform: translateX(520px);
}
.img__text.textoSesion {
  transform: translateX(-520px);
}
.cont.botonesMovimiento .img__text.textoSesion {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.textoSesion {
  transform: translateY(-72px);
}
.cont.botonesMovimiento .img__btn span.textoSesion {
  transform: translateY(0);
}
.cont.botonesMovimiento .img__btn span.textoRegistro {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.redireccionamiento {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.botonRegistrarse {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.botonRegistro {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.botonRegistro span {
  font-weight: bold;
  color: #455a81;
}

.iniciarSesion {
  transition-timing-function: ease-out;
}
.cont.botonesMovimiento .iniciarSesion {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.registrarse {
  transform: translate3d(-900px, 0, 0);
}
.cont.botonesMovimiento .registrarse {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

.textoRegistro{
  font-size: 10px;
}
.textoSesion{
font-size: 10px;
}


#botonRegistrarse2{

  display: none;
}


@media screen and (max-width: 500px){



.cont {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
  border: solid 1px #E2E8E8;


}

#botonRegistrarse2{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-size: 13px ;

}
@media screen and (max-width: 360px){



.cont {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 120vh;
  margin: 0 auto 100px;
  background: #fff;
  border: solid 1px #E2E8E8;background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTha3G3J57fqZxT0yLstqw0ZD8Sz55x8Bgm5g&usqp=CAU");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  


}

#botonRegistrarse2{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -20px;
  color: black;
  font-size: 13px ;
  margin-top: 18px;

}
.iniciarSesion{

}
h2{
  color: white;

}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    color: floralwhite;
}
#botonRegistrarse2{
  color: whitesmoke;
}
button .ss {

  color: white;
}

}